@mixin imgItem {
    display: flex;
    max-width: 500px;

    &:before {
        content: "";
        width: 72px;
        height: 72px;
        display: inline-block;
        background-image: url(../img/user.svg);
        flex-shrink: 0;
    }

    &:not(:last-child) {
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 590px) {
    .manage__item {
       flex-direction: column;
       justify-content: center;
       align-items: center;
       text-align: center;
    }
}